
.App {
	text-align: center;
}

.UserSection {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
	margin-bottom: 20px;
}

.CounterSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
	font-size: 24px;
	border: 2px solid black;
	padding: 20px;
	background-color: rgb(239, 246, 208);
}

.btn-section {
	display: flex;
	width: 200px;
	justify-content: space-around;
}

.btn {
	background-color: aquamarine;
	color: black;
}